.employees-mg.container {
  // height: 100vh;

  .first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .search {
      flex: 2;
      display: flex;
      flex-direction: column;
      padding-top: 1.35rem;
    }

    .add {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      button {
        height: 3rem;
        padding: 0 3rem;
        margin-right: 0.5rem;
        word-wrap: break-word;

        mat-icon {
          margin-right: 0.5rem;
          transform: translateY(-2px);
        }
      }
    }
  }

  .second-section {
    padding: 1rem 0;

    .spinner {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    table {
      width: 100%;
    }
  }
}

// .employee-dialog {
//   &.delete-dialog {
//     background-color: blue;
//     button {
//       background-color: red !important;
//     }
//   }
// }
