.login-form {
  width: 95%;
  max-width: 400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    text-align: center;
  }

  img {
    width: 100%;
    margin: .75rem 0 !important;
    padding-bottom: 1.25rem;
    border-bottom: 0.2rem solid #e1f2ea;
  }

  input,
  button {
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    border-color: #0000ff30;
    font-size: bold;
  }

  button {
    text-align: center;
  }
}

// TOAST
::ng-deep .ng-tns-c53-1.p-toast.p-component.p-toast-bottom-center {
  .p-toast-message-content,
  .p-toast-summary,
  .p-toast-summary.ng-tns-c52-2 {
    margin-right: 1rem !important;
  }
}
::ng-deep .p-toast.p-component.p-toast-bottom-center {
  margin-right: 1rem !important;
}

@media all and (max-width: 450px) {
  ::ng-deep .p-toast.p-component.p-toast-bottom-center {
    width: 250px !important;
    margin-right: 1rem !important;
  }

  .login-form {
    margin-top: 1rem;
  }
}
