<p-toast position="top-right"></p-toast>

<div>
  <div ngClass="navbar">
    <img src="assets/imgs/delice.png" alt="Délice" />
  </div>

  <div ngClass="login-form p-input-filled">
    <img src="assets/imgs/delice.png" alt="Délice" />

    <input
      type="text"
      placeholder="Entrer votre identifiant.."
      pInputText
      ngClass="p-input-filled"
      [(ngModel)]="formFields.identifier"
    />

    <input
      type="password"
      placeholder="Entrer votre mot de passe.."
      pInputText
      [(ngModel)]="formFields.password"
    />

    <button
      pButton
      type="button"
      label="S'authentifier"
      (click)="handleLogin()"
    ></button>
  </div>
</div>
