<p-toast position="bottom-center" ngClass="custom-toast"></p-toast>

<div ngClass="container">
  <div ngClass="top-section">
    <h1>
      Liste des patients
      <span ngClass="nb-patients"
        >#{{ selectedDateOption.toUpperCase().replace(" ", "_") }} [{{
          nbOfPatients
        }}]</span
      >
    </h1>
    <button
      pButton
      label="Ajouter un nouveau enregistrement"
      icon="pi pi-plus"
      class="p-button-outlined"
      (click)="handleAdd()"
    ></button>
  </div>

  <div ngClass="divider">
    <p-divider></p-divider>
  </div>

  <div class="filter-section">
    <div>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          placeholder="Rechercher"
          [(ngModel)]="searchKey"
          [draggable]="true"
        />
      </span>
    </div>

    <button
      pButton
      label="Plus"
      icon="pi pi-sliders-v"
      class="p-button-outlined btn-show-filter p-button-sm"
      (click)="displayModal()"
    ></button>
  </div>

  <!-- MODAL START -->
  <p-dialog
    header="Filtrage des patients"
    [(visible)]="isModalDisplayed"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    ngClass="filter-body"
    style="padding: 1rem 0"
    (onHide)="saveParams()"
  >
    <p>
      Rechercher avec:<br /><small
        >NB: Choisir aucun est similire à choisir tous.</small
      >
    </p>

    <p-multiSelect
      [options]="searchOptions"
      [(ngModel)]="selectedSearchOptions"
      optionLabel="name"
      [filter]="false"
      placeholder="Sélectionner des clés.."
    ></p-multiSelect>

    <p>Trier par:</p>

    <div ngClass="search">
      <p-dropdown
        [options]="searchOptions"
        [(ngModel)]="selectedOrderByOption"
        optionLabel="name"
        [filter]="false"
      ></p-dropdown>

      <div>
        <button
          pButton
          type="button"
          icon="pi pi-arrow-up"
          class="p-button-text p-button-plain"
          [disabled]="selectedOrderByDirection === 'Asc.'"
          (click)="selectedOrderByDirection = 'Asc.'"
          pTooltip="Ascendent"
          tooltipPosition="right"
          [showDelay]="5000"
          [hideDelay]="500"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-arrow-down"
          class="p-button-text p-button-plain"
          [disabled]="selectedOrderByDirection === 'Desc.'"
          (click)="selectedOrderByDirection = 'Desc.'"
          pTooltip="Descendent"
          tooltipPosition="right"
          [showDelay]="5000"
          [hideDelay]="500"
        ></button>
      </div>
    </div>

    <p>Afficher seulement les patients enregistrés:</p>
    <p-selectButton
      [options]="datesOptions"
      [(ngModel)]="selectedDateOption"
      optionLabel="label"
      optionValue="value"
    ></p-selectButton>

    <p>Nombre d'éléments par page:</p>

    <p-selectButton
      [options]="nbPerPageOptions"
      [(ngModel)]="selectedNbPerPage"
      optionLabel="label"
      optionValue="value"
    ></p-selectButton>

    <!-- <ng-template pTemplate="footer"> </ng-template> -->
  </p-dialog>
  <!-- MODAL END -->

  <p-table
    *ngIf="filteredPatients !== null"
    [value]="filteredPatients"
    [scrollable]="true"
    [style]="{ width: '100%' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 110px">Id</th>
        <th style="min-width: 150px">Nom<br/>de famille</th>
        <th style="min-width: 150px">Prénom</th>
        <th style="min-width: 150px">CIN</th>
        <th style="min-width: 150px">Téléphone</th>
        <th style="min-width: 150px">Date <br/>de naissance</th>
        <th style="min-width: 150px">Date<br/>d'ajout</th>
        <th style="min-width: 200px">Nom<br/>du père</th>

        <th
          style="min-width: 80px; border-left: 0.2rem solid #f5f5f5"
          pFrozenColumn
          [frozen]="true"
          alignFrozen="right"
        >
          MàJ
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-patient>
      <tr>
        <td style="min-width: 110px">{{ patient.patientId }}</td>
        <td style="min-width: 150px">{{ patient.lastname }}</td>
        <td style="min-width: 150px">{{ patient.firstname }}</td>
        <td style="min-width: 150px">{{ patient.nicNb }}</td>
        <td style="min-width: 150px">{{ patient.phoneNb }}</td>
        <td style="min-width: 150px">{{ patient.birthday }}</td>
        <td style="min-width: 150px">{{ patient.addday }}</td>
        <td style="min-width: 200px">{{ patient.parentName }}</td>

        <td
          style="
            min-width: 80px;
            border-left: 0.2rem solid #f5f5f5;
            display: flex;
            gap: 0.25rem;
          "
          pFrozenColumn
          [frozen]="true"
          alignFrozen="right"
        >
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="edit-icon p-button-help p-button-text"
            (click)="handleEdit(patient.patientNb)"
          ></button>

          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="edit-icon p-button-help p-button-text"
            (click)="handleDelete($event, patient.patientId, patient.patientNb)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p *ngIf="!filteredPatients.length" ngClass="if-table-empty">
    Aucun enregistrement à afficher.
  </p>

  <div style="margin: 1rem 0">
    <p-paginator
      [rows]="selectedNbPerPage === 'Tous' ? nbOfPatients : +selectedNbPerPage"
      [totalRecords]="nbOfPatients"
      (onPageChange)="paginate($event)"
      [pageLinkSize]="3"
      [showCurrentPageReport]="false"
    ></p-paginator>
  </div>
</div>

<p-confirmPopup [style]="{ 'font-size': '.8rem' }"></p-confirmPopup>
<p-scrollTop #scrollToTop></p-scrollTop>
