<div *ngIf="!(isLoading$ | async)" ngClass="beforeNavbar"></div>

<p-progressBar
  *ngIf="isLoading$ | async"
  mode="indeterminate"
  [style]="{ height: '3px' }"
></p-progressBar>

<div ngClass="navbar">
  <div>
    <img src="assets/imgs/steg-logo.png" alt="STEG" (click)="handleGoHome()" />

    <button
      *ngIf="isLoggedIn$ | async"
      pButton
      pRipple
      type="button"
      label="Se déconnecter"
      class="p-button-primary p-button-rounded"
      (click)="handleLogout()"
      style="font-weight: 500"
    ></button>
  </div>
</div>

<div ngClass="afterNavbar"></div>

<div *ngIf="justStarted" ngClass="just-started-spinner">
  <p-progressSpinner strokeWidth="3px"></p-progressSpinner>
</div>

<router-outlet *ngIf="!justStarted"></router-outlet>

<div ngClass="bottom-title">
  <p>Gestion des incidents sur le réseau HTA.</p>
</div>
