<div ngClass="login-form">
  <img src="assets/imgs/delice.png" alt="Delice Logo">
  
  <mat-form-field appearance="outline">
    <mat-label>Identifiant</mat-label>
    <input matInput placeholder="Entrer votre identifiant.." required />
    <!-- <mat-hint></mat-hint>  -->
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Mot de passe</mat-label>
    <input matInput placeholder="Entrer votre mot de passe.." required />
    <!-- <mat-hint></mat-hint>  -->
  </mat-form-field>

  <button mat-stroked-button>Se Connecter</button>
</div>
