<section>
  <div ngClass="login-form" @fadeSlideInOut>
    <img src="assets/imgs/tuntel.png" alt="TunTel Logo" />

    <mat-form-field appearance="outline">
      <mat-label>Identifiant</mat-label>
      <input
        matInput
        placeholder="Entrer votre identifiant.."
        [(ngModel)]="identifier"
        autocomplete="off"
        required
      />
      <!-- <mat-hint></mat-hint>  -->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        placeholder="Entrer votre mot de passe.."
        [(ngModel)]="password"
        [type]="hidePwd ? 'password' : 'text'"
        autocomplete="off"
        required
      />
      <!-- <mat-hint></mat-hint>  -->

      <button
        mat-icon-button
        matSuffix
        ngClass="show-pwd-icon"
        (click)="hidePwd = !hidePwd"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePwd"
      >
        <mat-icon>{{ hidePwd ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      ngClass="login-btn"
      mat-stroked-button
      (click)="handleLogin()"
      color="primary"
    >
      Se Connecter
      <mat-icon>login</mat-icon>
    </button>
  </div>
</section>
