<mat-card ngClass="submit-new-leave container" @fadeSlideInOut>
  <mat-stepper orientation="vertical" linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Sélection du type de congé</ng-template>
        <mat-form-field appearance="outline" ngClass="leave-form-field">
          <mat-label>Type de congé</mat-label>

          <mat-select formControlName="leaveType">
            <mat-option value="Annuel">Annuel</mat-option>
            <mat-option value="Maladie">Maladie</mat-option>
            <mat-option value="Maternité" *ngIf="gender === 'Féminin'"
              >Maternité</mat-option
            >
            <mat-option value="Paternité" *ngIf="gender === 'Masculin'"
              >Paternité</mat-option
            >
            <mat-option value="Exceptionnel">Exceptionnel</mat-option>
            <mat-option value="Hajj">Hajj</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Continuer</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>
          Sélection des dates de début et de fin du congé
        </ng-template>

        <mat-form-field appearance="outline" ngClass="date-field">
          <mat-label>Date de début</mat-label>
          <input
            matInput
            placeholder="Sélectionner une date"
            [matDatepicker]="picker1"
            formControlName="startDate"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker
            touchUi
            #picker1
            startView="year"
          ></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" ngClass="date-field">
          <mat-label>Date de fin</mat-label>
          <input
            matInput
            placeholder="Sélectionner une date"
            [matDatepicker]="picker2"
            formControlName="endDate"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker
            touchUi
            #picker2
            startView="year"
          ></mat-datepicker>
        </mat-form-field>

        <div ngClass="second-step-btns">
          <button mat-button matStepperNext>
            Continuer
          </button>
          <button mat-button matStepperPrevious>Retourner</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel
        >Confirmation de la demande du congé</ng-template
      >
      <div ngClass="third-step-btns">
        <button
          mat-flat-button
          color="primary"
          (click)="handleDemandSubmit(this.stepper);"
        >
          Soumettre la demande de congé
        </button>
        <button mat-button matStepperPrevious>Retourner</button>
      </div>
    </mat-step>
  </mat-stepper></mat-card
>
