.submit-new-leave {
  .mat-stepper-vertical {
    margin-top: 8px;
  }

  .mat-form-field {
    margin-top: 16px;
  }

  .leave-form-field {
    width: 300px;
    margin-top: 2rem;
  }

  .date-field {
    width: 240px;
    display: block;

    &:last-of-type {
      margin-top: -.75rem;
      margin-bottom: -1rem;
    }
  }

  .btns {
    display: flex;
    gap: 0.25rem;

    &:last-of-type {
      margin-top: 1.5rem;
    }
  }

  .date-field {
    width: 240px;
    display: block;

    &:last-of-type {
      margin-top: -0.75rem;
      margin-bottom: -1rem;
    }
  }

  .second-step-btns {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.25rem;
  }

  .third-step-btns {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
  }

  button {
    padding: 0.25rem 1rem;
  }
}
