.container {
  width: 90%;
  margin: 0.25rem auto;
  padding: 1.5rem 1.5rem 4.5rem;
  max-width: 1000px;
  background-color: white;
  border-radius: 0.5rem;

  h1 {
    margin: 1.5rem 0;

    .go-back-icon {
      font-weight: 800;
      font-size: 1.5rem;
      margin-right: 0.75rem;
      cursor: pointer;
    }
  }

  .divider {
    margin: 2.5rem 0 2rem;
  }

  .inputs-groups-container {
    display: flex;
    gap: 2rem;

    .inputs-group {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 220px;
      max-width: 350px;
      gap: 1rem;

      .form-el {
        max-width: 300px;
        display: flex;
        min-height: 66px;
        flex-direction: column;
        gap: 0.5rem;

        input,
        textarea,
        p-inputNumber {
          border-radius: 0.25rem;
          border-color: rgba(96, 94, 92, 0.6) !important;
          // padding: 0.5rem .75rem;
          // border-color: #00000050;

          &.invalid {
            border-color: red;
          }
        }
      }

      .auto-filled-el {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        p-inputMask {
          width: 100%;
        }

        i {
          cursor: pointer;
        }
      }

      .btns {
        min-height: 66px;
        display: flex;
        align-items: flex-end;
        gap: 0.25rem;

        button {
          border-radius: 0.25rem;
        }
      }
    }
  }
}

@media all and (max-width: 650px) {
  .container {
    .inputs-groups-container {
      flex-direction: column;
      gap: 1rem;

      .inputs-groups-divider {
        display: none;
      }
    }
  }
}

@media all and (max-width: 377px) {
  .container {
    padding: 0.5rem 0 8rem;
  }
}

// SCROLL TO TOP
:host
  ::ng-deep
  .ng-trigger.ng-trigger-animation.ng-star-inserted.p-scrolltop.p-link.p-component {
  color: #106ebe !important;
  background-color: #106ebe !important;
  margin-bottom: 2.5rem;
  margin-right: 1.5rem;
  border-radius: 0.75rem;
  height: 43px;
  width: 43px;
  z-index: 1 !important;

  &:hover {
    color: #584d85 !important;
    background-color: #584d85 !important;
  }
}

:host ::ng-deep .p-inputmask.p-inputtext.p-component,
:host ::ng-deep input.p-component {
  border-color: rgba(96, 94, 92, 0.6) !important;
  width: 100% !important;
  border-radius: 0.25rem;

  &.invalid {
    border-color: red !important;
  }
}

:host ::ng-deep .p-radiobutton-icon {
  // color: rgba(96, 94, 92, 0.6) !important;
  // background-color: rgba(96, 94, 92, 0.6) !important;
  background-color: #0078d4bb !important;
}

:host ::ng-deep .p-button.p-component.p-ripple {
  border-color: rgba(96, 94, 92, 0.6) !important;
  margin-bottom: 0.1rem;

  &:nth-of-type(1) {
    border-radius: 0.25rem 0 0 0.25rem;
  }

  &:nth-of-type(5) {
    border-left: none;
    border-radius: 0 0.25rem 0.25rem 0;
  }

  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4) {
    border-left: none;
    border-right: none;
  }

  &.invalid {
    border-color: red !important;
  }
}

@media all and (max-width: 377px) {
  :host
    ::ng-deep
    .ng-trigger.ng-trigger-animation.ng-star-inserted.p-scrolltop.p-link.p-component {
    margin-bottom: 3.25rem;
  }
}

// TOAST
::ng-deep .ng-tns-c53-1.p-toast.p-component.p-toast-bottom-center {
  .p-toast-message-content,
  .p-toast-summary,
  .p-toast-summary.ng-tns-c52-2 {
    margin-right: 1rem !important;
  }
}
::ng-deep .p-toast.p-component.p-toast-bottom-center {
  margin-right: 1rem !important;
}

@media all and (max-width: 450px) {
  ::ng-deep .p-toast.p-component.p-toast-bottom-center {
    width: 250px !important;
    margin-right: 1rem !important;
  }
}
