nav {
  color: #ade8f4;
  border-bottom: 0.25em solid #00356630;
  padding: 1rem;
  // width: 95%;
  margin: 0 auto 3rem;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 600px;
  font-weight: bold;
}
