.input-btn {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  margin: 1.5rem 0;

  input {
    flex: 3;
    padding: 0.75rem 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    color: inherit;
    background-color: inherit;
    border: 0.1rem solid #000814;

    &:hover, &:focus {
      border-color: #001d3d;
    }
  }

  button {
    flex: 1;
    padding: 0.75rem;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: inherit;
    color: inherit;
    border: 0.1rem solid #001d3d;

    &:hover {
      cursor: pointer;
      background-color: #001d3d;
    }
  }
}

@media screen and (max-width: 425px) {
  .input-btn {
    flex-direction: column;
    gap: 0.75rem;
  }
}
